@model List<AdminQRCodeMVC.Models.PointSale>

@using System.Drawing.Imaging
@using System.Drawing
@using QRCoder

<h2>Таблица данных</h2>

<form method="get" action="@Url.Action("SearchPointSale", "PointSale")">
    <input type="text" name="searchTerm" placeholder="Введите поисковый запрос">
    <button type="submit">Поиск</button>
</form>

@if (Model != null && Model.Count > 0)
{
    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Название</th>
                <th>Статус</th>
                <th>QR-код</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var pointSale in Model)
            {
                <tr>
                    <td>@pointSale.Id</td>
                    <td>@pointSale.Title</td>
                    <td>@pointSale.State</td>
                    <td>
                        @if (!string.IsNullOrEmpty(pointSale.QrData))
                        {
                            string qrCodeUrl = Url.Action("GetQRCodeImage", "PointSale", new { url = pointSale.QrData });

                            <img src="@qrCodeUrl" alt="QR-код" width="150" height="150"/>// Устанавливаю размер при выводе на странице  
                        }
                        else
                        {
                            <span>QR-код отсутствует</span>
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>

    <form method="post" action="@Url.Action("GenerateQRCode", "PointSale")">
        @for (int i = 0; i < Model.Count; i++)
        {
            <input type="hidden" name="qrCodeUrls" value="@Model[i].QrData" />
        }
        <button type="submit">Сохранить QR-коды</button>
    </form>
}
else
{
    <p>Нет доступных данных</p>
}
