@model List<AdminQRCodeMVC.Models.PointSale>

<h2>Таблица данных</h2>

<form method="get" action="@Url.Action("SearchPointSale", "PointSale")">
    <input type="text" name="searchTerm" placeholder="Введите поисковый запрос">
    <button type="submit">Поиск</button>
</form>

@if (Model != null && Model.Count > 0)
{
    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Название</th>
                <th>Статус</th>
                <th>QR-код</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.Id</td>
                    <td>@item.Title</td>
                    <td>@item.State</td>
                    <td>@item.qr_data</td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <p>Нет доступных данных</p>
}