@model List<AdminQRCodeMVC.Models.PointSale>

@using System.Drawing.Imaging
@using System.Drawing
@using QRCoder

<h2>Таблица данных</h2>

<form method="get" action="@Url.Action("SearchPointSale", "PointSale")" style="display: inline-block;">
    <input type="text" name="searchTerm" placeholder="Введите поисковый запрос">
    <button type="submit">Поиск</button>
</form>

<form method="post" action="@Url.Action("GenerateQRCode", "PointSale")" style="display: inline-block;">
    @for (int i = 0; i < Model.Count; i++)
    {
        <input type="hidden" name="qrCodeUrls" value="@Model[i].QrData" />
    }
    <button type="submit">Сохранить QR-коды</button>
</form>
@if (Model != null && Model.Count > 0)
{
    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Название</th>
                <th>Статус</th>
                <th>QR-код</th>
                <th>Сохранить</th>
            </tr>
        </thead>
        <tbody>
            @for (int i = 0; i < Model.Count; i++)
            {
                <tr>
                    <td>@Model[i].Id</td>
                    <td>@Model[i].Title</td>
                    <td>@Model[i].State</td>
                    <td>
                        @if (!string.IsNullOrEmpty(Model[i].QrData))
                        {
                            string qrCodeUrl = Url.Action("GetQRCodeImage", "PointSale", new { url = Model[i].QrData });
                            <img src="@qrCodeUrl" alt="QR-код" width="150" height="150" />
                        }
                        else
                        {
                            <span>QR-код отсутствует</span>
                        }
                    </td>
                    <td>
                        <form method="post" action="@Url.Action("SaveOneQRCode", "PointSale")">
                            <input type="hidden" name="index" value="@i" />
                            <button type="submit">Сохранить</button>
                        </form>
                    </td>
                </tr>
            }
        </tbody>
    </table>

}
else
{
    <p>Нет доступных данных</p>
}
